* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Vollkorn", Georgia, "Times New Roman", Times, serif;
}

/* ============================= GRID GERAL ============================= */
.estrutura {
  display: grid;
  grid-template-columns: minmax(60px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}

.content {
  grid-area: content;
}
/* ====================================================================== */
/* =============================== Header =============================== */
.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px 60px;
  color: #ffffff;
  text-transform: lowercase;
  font-size: 1.1125em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.5s;
}

.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.header nav li + li {
  margin-left: 30px;
}
/* ====================================================================== */
/* ============================== SIDENAV =============================== */
.sidenav {
  grid-area: sidenav;
  background-color: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.3s ease-out;
}

.sidenav li a:hover {
  background: #bb7dfb;
}
/* ====================================================================== */
/* ==============================GRID GERAL============================== */
/* ====================================================================== */
/* ============================== ANUNCIOS ============================== */
.anuncios {
  grid-area: anuncios;
  display: grid;
  align-content: start;
  padding: 30px;
  gap: 30px;
}
/* ====================================================================== */
/* =============================== FOOTER =============================== */

.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.footer p {
  color: #ffffff;
  text-align: center;
  padding: 30px;
}
/* ====================================================================== */
